// Base colours from Solarized Light (MIT License | http://ethanschoonover.com/solarized)
$col-base03:    #002b36;
$col-base02:    #073642;
$col-base01:    #586e75;
$col-base00:    #657b83;
$col-base0:   #839496;
$col-base1:   #93a1a1;
$col-base2:   #eee8d5;
$col-base3:   #fdf6e3;

@import "generic-imports";
