// Base colours from Solarized Dark (MIT License | http://ethanschoonover.com/solarized)
$col-base3:    #002b36;
$col-base2:    #073642;
$col-base1:    #586e75;
$col-base0:    #657b83;
$col-base00:     #839496;
$col-base01:     #93a1a1;
$col-base02:     #eee8d5;
$col-base03:     #fdf6e3;

@import "generic-imports";
